@import "libs";
@import "vars";


html, body {
  box-sizing: border-box;
	height: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit; }

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.75;
	overflow-x: hidden;
	opacity: 1;
	font-family: $opreg;
}




@import "media";